.sn-input-form {
    display: flex;
    height: 60px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.sn-input-form > input {
    height: 50px;
    width: 100%;
    max-width: 285px;
    padding: 10px;
    border: 0.5px solid gray;
    color: #333;
    font-size: 18px;
    font-weight: 100;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
}
.sn-input-form > input:focus {
    outline: none;
    border-color: rgb(61, 106, 255);
    box-shadow: 1px 1px 10px 1px rgb(89, 128, 255);
}