@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
}
body {
    scroll-behavior: smooth;
}
.app {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}
.content {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}
.content::-webkit-scrollbar {
    display: none;
    width: 0;
}
.content > nav {
    display: flex;
    height: 88px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-left: 98px;
    padding-right: 98px;
    position: fixed;
}
.nav-title {
    display: flex;
    height: 100%;
    width: fit-content;
    align-items: center;
    justify-content: center;
    object-fit: contain;
}
.nav-title > img {
    object-fit: contain;
    max-width: 200px;
}
.nav-links {
    display: flex;
    height: 100%;
    width: fit-content;
    align-items: center;
    justify-content: space-evenly;
}
.nav-links > ul {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: flex-end;
    justify-content: space-evenly;
    list-style-type: none;
}
.nav-links > ul > li {
    display: flex;
    position: relative;
    justify-content: flex-start;
}
.nav-links > ul > li > a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    letter-spacing: 0.5px;
    font-weight: 600;
    border-radius: 2px;
    font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
    padding: 16px 20px;
    margin: 4px;
}
.nav-links > ul > li > a:hover {
    background: rgba(10, 66, 107);
}
.nav-links > ul > li > a > i {
    font-weight: bold;
}
.nav-links > ul > li > .nav-dropdown {
    position: absolute;
    display: none;
    top: 100%;
    height: auto;
    width: max-content;
    background: rgb(48, 91, 125);
    text-align: left;
}
.nav-links > ul > li > .nav-dropdown > a {
    display: block;
    color: white;
    font-weight: 400;
    font-size: 13px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-decoration: none;
    text-align: left;
    line-height: 18px;
    padding: 6px 16px;
    width: 100%;
    text-transform: uppercase;
}
.nav-links > ul > li:hover > .nav-dropdown {
    display: block;
}
.nav-links > ul > li > .nav-dropdown > a:hover {
    color: rgb(255, 193, 0);
}
.nav-links > ul > li > button {
    display: flex;
    color: white;
    height: 35px;
    width: 126px;
    border: 0.5px solid white;
    background: none;
    font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
    border-radius: 4px;
    border-width: 1px;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    margin-bottom: 10px;
}
.nav-links > ul > li > button:hover {
    background: rgb(255, 193, 0);
    color: white;
    border-color: rgb(255, 193, 0);
    cursor: pointer;
}
.nav-scroll {
    background: white;
    color: black;
}
.nav-scroll > .nav-links > ul > li > a {
    color: black;
}
.nav-scroll > .nav-links > ul > li > a:hover {
    color: white;
}
.nav-scroll > .nav-links > ul > li > button {
    color: black;
    border-color: black;
}
.nav-scroll > .nav-links > ul > li > button:hover {
    color: white;
    background: rgb(255, 193, 0);
    border-color: rgb(255, 193, 0);
}
.nav-scroll > .nav-links > ul > li > .nav-scroll-btn {
    background: rgb(255, 193, 0);
    color: white;
    width: max-content;
    border-color: rgb(255, 193, 0);
    font-size: 12px;
    padding: 10px 12px 10px 12px;
}
.nav-scroll > .nav-links > ul > li > .nav-scroll-btn:hover {
    background: rgb(206, 155, 0);
}
.home-page-wrapper {
    display: flex;
    height: 100vh;
    min-height: 100vh;
    width: 100vw;
    background-image: url('../assets/images/home-sm.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    text-align: left;
    flex-direction: column;
}
.hp-intro {
    display: flex;
    height: 100%;
    width: 76%;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    flex-direction: column;
}
.hp-intro > h1 {
    color: white;
    font-size: 64px;
    font-weight: 600px;
    line-height: 70px;
    margin-block-start: 20px;
    margin-block-end: 30px;
    font-family: 'Montserrat',sans-serif;
    width: 60%;
    padding-top: 50px;
}
.hp-intro > h3 {
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
}
.hp-intro > ul {
    line-height: 30px;
}
.hp-intro > ul > li {
    display: list-item;
    color: white;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}
.hp-intro > button {
    display: flex;
    height: 50px;
    margin-top: 20px;
    min-width: 220px;
    padding-right: 27px;
    padding-left: 27px;
    font-size: 16px;
    font-weight: 700;
    background: rgb(255, 193, 0);
    color: white;
    /* background: rgb(206, 155, 0); */
    border: none;
    align-items: center;
    justify-content: center;
}
.hp-intro > button:hover {
    cursor: pointer;
    background: rgb(206, 155, 0);
}
.scroll-chevron {
    display: flex;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    background: none;
    color: white;
    border: none;
    font-size: 20px;
    position: absolute;
    bottom: 30px;
}
.scroll-chevron:hover {
    cursor: pointer;
}
.fr-main-wrapper {
    display: flex;
    height: auto;
    min-height: 576px;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.fr-content {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}
.fr-title {
    display: flex;
    height: 45px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.fr-title > h1 {
    font-size: 40px;
    font-weight: 400;
    font-family: 'Montserrat',sans-serif;
    line-height: 44px;
    color: rgb(51, 51, 51);
}
.fr-content > h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    line-height: 40px;
    color: rgb(38, 38, 38);
    font-weight: 400;
}
.fr-button {
    display: flex;
    height: 50px;
    width: fit-content;
    min-width: 220px;
    background: rgb(0, 166, 184);
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: white;
    font-family: "Open Sans", sans-serif;
    border: 0.5px solid rgb(0, 166, 184);
    border-radius: 2px;
}
.fr-button:hover{
    cursor: pointer;
    background: #0F436A;
    border: 0.5px solid #0F436A;
}
.fr-button-transparent {
    background: white;
    color: rgb(0, 166, 184);
    border-width: 2px;
}
.fr-button-transparent:hover {
    background: #0F436A;
    color: white;
}
.fr-logos {
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: space-evenly;
}
.fr-logos > img {
    margin: 10px;
}
.imac-wrapper {
    display: flex;
    height: fit-content;
    min-height: 700px;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-right: 100px;
    padding-left: 100px;
}
.imac-image-wrapper {
    display: flex;
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: center;
    position: relative;
}
.imac-txt-wrapper {
    display: flex;
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-direction: column;
}
.home-monitor {
    display: flex;
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.imac-job-board {
    display: flex;
    height: 230px;
    width: 176px;
    position: absolute;
    top: 29%;
    right: 8%;
    animation: scale-widgets 0.4s linear forwards;
}
.imac-job-board > img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}
.imac-social {
    display: flex;
    height: 200px;
    width: 140px;
    position: absolute;
    left: 2%;
    top: 21%;
    animation: scale-widgets 0.4s linear forwards;
}
.imac-social > img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}
.imac-invite {
    display: flex;
    height: 190px;
    width: 130px;
    position: absolute;
    bottom: 20%;
    left: 30%;
    animation: scale-widgets 0.4s linear forwards;
}
.imac-invite > img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}
.imac-txt-wrapper > h1 {
    color: rgb(51, 51, 51);
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    font-family: 'Montserrat', sans-serif;
}
.imac-txt-wrapper > ul {
    display: flex;
    list-style-type: none;
    text-align: left;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 10px;
}
.imac-txt-wrapper > ul > li {
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    text-align: left;
    color: rgb(51, 51, 51);
    font-family: "Open Sans", sans-serif;
    background-repeat: no-repeat;
    padding: 5px;
}
.rt-wrapper {
    display: flex;
    height: auto;
    min-height: 640px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 40px;
    padding-bottom: 40px;
    background: rgb(0, 165, 181);
}
.rt-title {
    display: flex;
    height: 100px;
    min-height: 140px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.rt-title > h1 {
    font-family: 'Montserrat',sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: white;
    margin-top: 20px;
    line-height: 40px;
}
.rt-content {
    display: flex;
    height: fit-content;
    min-height: 480px;
    width: 100%;
}
.rt-cogs-wrapper {
    /* display: none; */
    display: flex;
    height: 100%;
    width: 60%;
    position: relative;
}
.rt-txt-wrapper {
    display: flex;
    height: 100%;
    width: 40%;
    padding: 20px;
    background: url('../assets/images/bg-gradient-new.png');
    flex-direction: column;
}
.rt-cogs-template {
    display: flex;
    height: 100%;
    width: 606px;
    align-items: center;
    justify-content: center;
    position: relative;
}
.rt-cogs-template-image {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.gear-1 {
    position: absolute;
    height: 260px;
    width: 260px;
    top: 3%;
    left: 32%;
}
/* .gear-1:hover {
    animation: animate-cog-left 1s linear forwards;
} */
.gear-2 {
    position: absolute;
    height: 186px;
    width: 186px;
    top: 26%;
    left: 3%;
}
/* .gear-2:hover {
    animation: animate-cog-right 1s linear forwards;
} */
.gear-3 {
    position: absolute;
    height: 200px;
    width: 200px;
    bottom: 2%;
    left: 24%;
}
/* .gear-3:hover {
    animation: animate-cog-left 1s linear forwards;
} */
.gear-4 {
    position: absolute;
    height: 145px;
    width: 145px;
    bottom: 16%;
    right: 18%;
}
/* .gear-4:hover {
    animation: animate-cog-left 5s ease-in-out forwards;
} */
.gear-5 {
    position: absolute;
    height: 150px;
    width: 150px;
    right: 0%;
    top: 28%;
}
    /* .gear-5:hover {
        animation: animate-cog-right 1s linear forwards;
    } */
.left-tip-arrow {
    position: absolute;
    top: 0%;
    right: 0%;
}
.rt-txt-wrapper > h3 {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 24px;
    font-weight: 700;
    padding: 20px 0 0 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.rt-txt-wrapper > p {
    font-family: 'Open Sans' sans-serif;
    color: white;
    font-size: 22px;
    font-weight: 400;
    padding: 0 30px;
    line-height: 1.3;
    margin: 10px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.rt-txt-wrapper > img {
    object-fit: contain;
    height: auto;
}
.rt-txt-btn {
    display: flex;
    height: 50px;
    margin-top: 20px;
    min-width: 220px;
    padding-right: 27px;
    padding-left: 27px;
    font-size: 16px;
    font-weight: 700;
    background: rgb(255, 193, 0);
    color: white;
    /* background: rgb(206, 155, 0); */
    border: none;
    align-items: center;
    justify-content: center;
}
.rt-txt-btn:hover {
    cursor: pointer;
    background: rgb(206, 155, 0)
}
.yt-main-wrapper {
    display: flex;
    height: fit-content;
    min-height: 480px;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-evenly;
}
.yt-wrapper {
    display: flex;
    height: 100%;
    width: 40%;
    max-width: 500px;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    flex-direction: column;
}
.yt-header {
    display: flex;
    width: 100%;
    background-color: #656565;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 31px;
    margin-top: 25px;
}
.yt-txt-wrapper {
    display: flex;
    height: 100%;
    width: 60%;
    flex-direction: column;
    padding: 20px;
    max-width: 600px;
}
.yt-header > ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}
.yt-header > ul > li {
    margin-left: 10px;
}
.yt-header > ul > li > span {
    display: flex;
    height: 11px;
    width: 11px;
    border-radius: 50%;
}
.yt-embed-wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    border: 0.5px solid gray;
}
.yt-txt-wrapper > h2 {
    color: #333;
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.yt-txt-wrapper > p {
    font-weight: 400;
    font-size: 22px;
    color: #262626;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 34px;
    line-height: 1.3;
    min-height: 1px;
}
.yt-txt-btns {
    display: flex;
    justify-content: space-evenly;
}
.sn-wrapper {
    display: flex;
    height: fit-content;
    width: 100%;
    min-height: 370px;
    background: #00a5b5;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
}
.sn-wrapper > h1 {
    margin-top: 60px;
    color: #fff;
    text-align: center;
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
    font-size: 36px;
}
.sn-wrapper > h3 {
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4;
    padding-bottom: 60px;
    margin-top: 40px;
    margin-bottom: 10px;
}
.sn-icons-wrapper {
    display: flex;
    height: 110px;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.sn-icons-wrapper > span {
    display: flex;
    height: 100%;
    width: fit-content;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 20px;
    margin-right: 20px;
}
.sn-icons-wrapper > span > h5 {
    color: white;
    font-family: 'Montserrat',sans-serif;
}
.ev-main-wrapper {
    display: flex;
    height: fit-content;
    min-height: 700px;
    width: 100%;
    padding: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
    align-items: center;
    justify-content: center;
}
.ev-content {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}
.ev-title {
    display: flex;
    height: 80px;
    min-height: 80px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.ev-title > h1 {
    font-weight: 400;
    color: #262626;
    text-align: center;
    font-family: 'Montserrat',sans-serif;
    font-size: 36px;
}
.ev-txt {
    display: flex;
    height: auto;
    width: 100%;
    max-width: 800px;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 22px;
    width: 70%;
    color: #262626;
    margin: 0 auto;
    line-height: 1.4;
    text-align: center;
    padding: 20px 0 40px 0;
    font-family: 'Open Sans', sans-serif;
}
.ev-quotes-wrapper {
    display: flex;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}
.ev-quote {
    display: flex;
    height: 340px;
    width: 100%;
    flex-direction: column;
    /* max-width: 390px; */
    border: 0.5px solid gray;
    border-top: none;
    border-left: none;
    padding: 20px;
    justify-content: space-between;
}
.ev-quote-img {
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: flex-start;
    object-fit: contain;
}
.ev-quote-img > img {
    object-fit: contain;
}
.ev-quote-txt {
    display: flex;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.ev-quote-txt > h2 {
    font-weight: 400;
    font-size: 22px;
    width: 100%;
    color: #262626;
    margin: 0 auto;
    line-height: 1.4;
    padding: 10px 0 10px 0;
    font-family: 'Open Sans', sans-serif;
}
.ev-quote-txt > p {
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 40px;
    font-size: 18px;
    color: rgb(101, 101, 101);
    font-family: 'Open Sans', sans-serif;
}
.ev-quote-label {
    display: flex;
    height: auto;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.ev-quote-label > h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 15px;
    color: rgb(101, 101, 101);
}
.ev-quote-label > span {
    font-family: 'Open Sans', sans-serif;
    color: rgb(101, 101, 101);
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    margin-top: 10px;
}
.ftr-wrapper {
    display: flex;
    height: auto;
    min-height: 260px;
    width: 100%;
    background: rgb(51, 51, 51);
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;
}
.ftr-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: auto;
    align-items: flex-start;
    justify-content: center;
}
.ftr-list > span {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 10px 0;
    font-family: "Gotham SSm A","Gotham SSm B",sans-serif;
}
.ftr-list > ul {
    list-style-type: none;
}
.ftr-list > ul > li {
    height: 22px;
    width: auto;
}
.ftr-list > ul > li > a {
    text-decoration: none;
    color: #aaa;
    font-size: 14px;
    font-weight: 300;
    font-family: "Gotham SSm A","Gotham SSm B",sans-serif;
}
.ftr-list > ul > li > a:hover {
    color: white;
}
.ftr-list > img {
    height: 34px;
    object-fit: contain;
}
.ftr-list > h3 {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    font-family: "Gotham SSm A","Gotham SSm B",sans-serif;
    margin-top: 20px;
}
.bottom-nav {
    display: none;
    height: 100px;
    width: 100%;
    position: fixed;
    bottom: 0%;
    align-items: flex-end;
    justify-content: center;
    background: rgba(255, 255, 255, 0.377);
    padding: 10px;
}
.bottom-nav > a {
    display: flex;
    color: #fff;
    font-weight: 400;
    background-color: #1c435d;
    font-size: 14px;
    padding: 10px 15px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    height: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Open Sans', sans-serif;
}
.bottom-nav > a:hover {
    cursor: pointer;
    background: #00a4b4;
}
footer {
    display: flex;
    height: 100px;
    min-height: 100px;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    font-size: 11px;
    color: #666;
    font-family: 'Open Sans', sans-serif;
}
@keyframes scale-widgets {
    0%
    {
        transform: scale(0.1);
    }
    100%
    {
        transform: scale(1);
    }
}
@keyframes animate-cog-right {
    100%
    {
        transform: rotate(360deg);
    }
}
@keyframes animate-cog-left {
    100%
    {
        transform: rotate(-360deg);
    }
}
@media (max-width: 1000px) {
    .nav-links {
        display: none;
    }
    .hp-intro {
        width: 100%;
        padding: 20px;
        align-items: center;
    }
    .hp-intro > h1 {
        width: 100%;
        text-align: center;
        font-size: 2.5rem;
        line-height: auto;
    }
    .fr-content {
        width: 100%;
        padding: 0%;
        margin-top: 40px;
    }
    .fr-title > h1 {
        font-size: 1.5rem;
    }
    .fr-content > h3 {
        font-size: 1em;
    }
    .imac-wrapper {
        flex-direction: column;
        height: max-content;
        padding: 20px;
    }
    .imac-txt-wrapper {
        width: 100%;
        height: fit-content;
    }
    .rt-wrapper {
        min-height: fit-content;
    }
    .rt-content {
        flex-direction: column;
    }
    .rt-title {
        text-align: center;
    }
    .rt-cogs-wrapper {
        width: 100%;
        justify-content: center;
    }
    .left-tip-arrow {
        display: none;
    }
    .rt-txt-wrapper {
        width: 100%;
        margin-top: 20px;
    }
    .yt-main-wrapper {
        flex-direction: column;
        min-height: 700px;
        height: max-content;
        padding: 0%;
    }
    .yt-wrapper {
        width: 100%;
        min-height: 300px;
    }
    .yt-txt-wrapper {
        width: 100%;
    }
    .fr-button-transparent {
        display: none;
    }
}